tornado
mysql-connector-python
sqlalchemy
sockjs-tornado
redis
wtForms
werkzeug

# pip install -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com -r requirements.txt

# auto/configure --with-cc=cl --builddir=objs --prefix= \ 
# --conf-path=conf/nginx.conf --pid-path=logs/nginx.pid \ 
# --http-log-path=logs/access.log --error-log-path=logs/error.log \ 
# --sbin-path=nginx.exe --http-client-body-temp-path=temp/client_body_temp \ 
# --http-proxy-temp-path=temp/proxy_temp \ 
# --http-fastcgi-temp-path=temp/fastcgi_temp \ 
# --http-scgi-temp-path=temp/scgi_temp \ 
# --http-uwsgi-temp-path=temp/uwsgi_temp \ 
# --with-cc-opt=-DFD_SETSIZE=1024 --with-pcre=objs/lib/pcre2-10.42 \ 
# --with-zlib=objs/lib/zlib1213 --with-openssl=objs/lib/openssl-3.0.8 \ 
# --with-select_module --with-http_ssl_module --add-module=objs/lib/nginx-http-flv-module-1.2.10

# auto/configure \
#     --with-cc=cl \
#     --with-debug \
#     --prefix= \
#     --conf-path=conf/nginx.conf \
#     --pid-path=logs/nginx.pid \
#     --http-log-path=logs/access.log \
#     --error-log-path=logs/error.log \
#     --sbin-path=nginx.exe \
#     --http-client-body-temp-path=temp/client_body_temp \
#     --http-proxy-temp-path=temp/proxy_temp \
#     --http-fastcgi-temp-path=temp/fastcgi_temp \
#     --http-scgi-temp-path=temp/scgi_temp \
#     --http-uwsgi-temp-path=temp/uwsgi_temp \
#     --with-cc-opt=-DFD_SETSIZE=1024 \
#     --with-pcre=objs/lib/pcre2-10.42 \
#     --with-zlib=objs/lib/zlib1213 \
#     --with-openssl=objs/lib/openssl-3.0.8 \
#     --with-openssl-opt=no-asm \
#     --with-http_ssl_module \
#     --add-module=objs/lib/nginx-http-flv-module \
