<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{{static_url('style.css')}}" rel="stylesheet">
    <link href="{{static_url('basic-grey.css')}}" rel="stylesheet">
    <!-- <script th:src="@{static/js/login.js}"></script> -->
</head>
<body>
<div id="bigbox">
    <div id="banner">
        <img src="../static/img/bg.jpg" width="50" alt="">
    </div>
    <!-- <table align="center" border="1" cellpadding="10" cellspacing="0"
           width="1000">
        <tr style="background-color:rgba(255, 255, 255, 0.594)">
            <th>你当前的Ip地址</th> <th>你访问该页面次数</th>
        </tr>
        <tr style="background-color:rgba(255, 255, 255, 0.594)" th:each="cnt:${blog}">
            <td th:text="${cnt.ip}"></td>
            <td th:text="${cnt.c}"></td>
        </tr>
    </table> -->
    <nav>
        <a class="dangqian" href="">首页</a>
        <a href="duanwen.html">短文</a>
        <a href="rizhi.html">日志</a>
        <a href="liuyan.html">留言板</a>
    </nav>
    <div id="main">
        <div id="main_left">
            <!-- <h2>关于我</h2>
            <img src="img/takina.jpg" alt="">
            <p>
                <span>姓名</span>:
                <font color="darkmagenta" size="5">仇忠骏 2027406022</font><br>
                <span>性别</span>:男<br>
                <span>爱好</span>:唱 跳 rap 篮球<br>
                <span>性格</span>:开朗<br>
                <span>家乡</span>:扬州<br>
                <span>专业</span>:软件工程
            </p> -->
            <h2>抽奖配置</h2>
            <form action="/info" enctype="multipart/form-data" class="basic-grey" method="post">


                <h1><span>Please fill all the texts in the fields.</span></h1>
                <br><br>
                <label>

                    <span>Themplate :</span>

                    <select id="template" name="themplate" onchange="changeStyle();">

                        <option value="basic-grey">basic-grey</option>

                        <option value="elegant-aero">elegant-aero</option>

                        <option value="smart-green">smart-green</option>

                        <option value="white-pink">white-pink</option>

                        <option value="bootstrap-frm">bootstrap-frm</option>

                        <option value="dark-matter">dark-matter</option>

                    </select>

                </label>
<br><br>
                <label>

                    <span>一等奖 :</span>
                    <input id="name" name="num1" placeholder="1~3" type="number"/>

                </label>
                <br><br>
                <label>

                    <span>二等奖 :</span>

                    <input id="email" name="num2" placeholder="1~5" type="number"/>

                </label>
                <br><br>
                <label>

                    <span>三等奖 :</span>

                    <input id="message" name="num3" placeholder="1~7" type="number"/>

                </label>
                <br><br>
                <label>

                    <span>人员名单 :</span>
                    <input id="message" name="people" placeholder="file" type="file"/>

                </label>
                <br><br>
                <label>

                    <span>&nbsp;</span>

                    <input class="button" type="submit" value="Send"/>

                </label>

            </form>
        </div>
        <div id="main_right">
            <h2>获奖信息如下</h2>
            <form action="/choujiang" class="basic-grey" method="post">
                <h1><span>Congratulations</span></h1>
                <label>

                    <span>Themplate :</span>

                    <select id="template" name="themplate" onchange="changeStyle();">

                        <option value="basic-grey">basic-grey</option>

                        <option value="elegant-aero">elegant-aero</option>

                        <option value="smart-green">smart-green</option>

                        <option value="white-pink">white-pink</option>

                        <option value="bootstrap-frm">bootstrap-frm</option>

                        <option value="dark-matter">dark-matter</option>

                    </select>

                </label>
<br>
                <label>

                    <span style='font-size:20px'>一等奖 :</span>
                    <br>
                    <div id = "p1" style='font-size:20px; color:red'>

                    </div>

                </label>
                <br><br>
                <label>

                    <span style='font-size:20px'>二等奖 :</span>
                    <br>
                    <div id = "p2" style='font-size:20px; color:blue'>

                    </div>

                </label>
                <br><br>
                <label>

                    <span style='font-size:20px'>三等奖 :</span>
                    <br>
                    <div id = "p3" style='font-size:20px; color:green'>

                    </div>

                </label>
                <br>
                <br>
                <label>

                    <span>&nbsp;</span>

                    <input class="button" type="submit" value="开始抽奖"/>

                </label>
                <br>
                <br>
                <label>


                    <span>&nbsp;</span>

                    <input class="button" type="button" value="停止滚动" onclick="stop()"/>

                </label>

            </form>
<!--            <img src="../static/img/cat.gif" alt="">-->
        </div>
    </div>
    <div id="luxing">
        <h2>旅行生活</h2>
        <div>
            <div id="picture">
                <img src="../static/img/p1.jpg" alt="">
                <p>东吴门</p>
            </div>
            <div id="picture">
                <img src="../static/img/p3.jpg" alt="">
                <p>
                    在苏大
                </p>
            </div>
            <div id="picture">
                <img src="../static/img/p2.jpg" alt="">
                <p>
                    看夕阳
                </p>
            </div>
        </div>
    </div>
    <footer>
        <p>
            版权所有©Zhongjun Qiu.苏州大学
        </p>
    </footer>
</div>

<script>
    var nam1="{{people1}}".split(",");//参与者名单
    var nam2="{{people2}}".split(",");//参与者名单
    var nam3="{{people3}}".split(",");//参与者名单
    var nameArray="{{people_in}}".split(",");//参与者名单
    var whoGetTheMysteryAward=[];
    var w1='', w2='', w3='';
    var timer1, timer2, timer3, flag;
    setTimeout(creatNameForAward(),1000);
    function creatNameForAward(){
        flag=1;
        timer1 = setInterval(function(){
            document.getElementById('p1').innerText= getNameForAward(nam1.length);
        },50);
        timer2 = setInterval(function(){
            document.getElementById('p2').innerText= getNameForAward(nam2.length);
        },50);
        timer3 = setInterval(function(){
            document.getElementById('p3').innerText= getNameForAward(nam3.length);
        },50);
    }

    //停止滚动方法
    function stop(){

        clearInterval(timer1);
        clearInterval(timer2);
        clearInterval(timer3);
        document.getElementById('p1').innerText=nam1;
        document.getElementById('p2').innerText=nam2;
        document.getElementById('p3').innerText=nam3;
        flag++;
        return null;
    }

    //随机获取一个人的名字
    function getNameForAward(x){
        var ans = "";
        for (var i = 0;i < x;i++){
            var num = Math.floor(Math.random()*(nameArray.length-1));
            ans += nameArray[num];
        }
        return ans;
    }

    function exclude(all, del) {
        for(let j=0;j<all.length;j++){
            if(all[j]===del){
                all.splice(j,1);
            }
        }
        return all;
   }
</script>
</body>
</html>
